<div class="min-h-screen flex justify-center bg-gray-200"> 
  <div class="max-w-xl w-full h-1/2 md:w-2/3 lg:w-3/4 p-4 md:p-6 m-2 md m-4 border border-gray-700 rounded-lg mt-10">

    <div class="text-center">
      <h2 class="mt-1 text-3xl font-extrabold text-gray-900 pb-5">Registration</h2>
    </div>

    <form (ngSubmit)="saveStudentDetails()" class="space-y-4">

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <!-- Name Input -->
        <div>
          <label for="name" class="block text-gray-700 font-medium mb-2">Name</label>
          <input id="name" name="name" [(ngModel)]="formData.name" type="text" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
            placeholder="Enter your name">
        </div>

        <!-- Date of Birth Input -->
        <div>
          <label for="date_of_birth" class="block text-gray-700 font-medium mb-2">Date of Birth</label>
          <input type="date" id="date_of_birth" name="date_of_birth" [(ngModel)]="formData.date_of_birth" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm">
        </div>

        <!-- Major Input -->
        <div>
          <label for="major" class="block text-gray-700 font-medium mb-2">Major</label>
          <input type="text" id="major" name="major" [(ngModel)]="formData.major" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
            placeholder="Enter your major">
        </div>

        <!-- Contact Number Input -->
        <div>
          <label for="contact_number" class="block text-gray-700 font-medium mb-2">Contact Number</label>
          <input type="text" id="contact_number" name="contact_number" [(ngModel)]="formData.contact_number" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
            placeholder="Enter your contact number">
        </div>

         <!-- Gender -->
         <div>
          <label for="gender" class="block text-gray-700 font-medium mb-2">Gender</label>
          <select id="gender" name="gender" [(ngModel)]="formData.gender" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm">
            <option value="" disabled selected>Please select your gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
        
        

        
        <!-- Email Input -->
        <div>
          <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
          <input id="email" name="email" [(ngModel)]="formData.email" type="email" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
            placeholder="Enter your email">
        </div>


        <!-- Password Input -->
        <div>
          <label for="password" class="block text-gray-700 font-medium mb-2">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="formData.password" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
            placeholder="Enter your password">
        </div>

      </div>

      <!-- Display registration error -->
      <div *ngIf="registrationError" class="text-red-500 text-sm">{{ registrationError }}</div>

      <!-- Save Button -->
      <div class="text-center">
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 rounded-full w-1/2">
          Register
        </button>
      </div>
    </form>

    <!-- Show a message when registration is successful -->
    <div *ngIf="isRegistrationSuccessful" class="text-center mt-4">
      <p class="text-green-500 text-lg">Registration successful!</p>
      <p class="mt-2">
        You can now <a routerLink="/student-login" class="text-blue-500 underline">log in</a>.
      </p>
    </div>

    <!-- Go to Login Link (For Already Registered Users) -->
    <div class="text-center mt-4">
      <a routerLink="/student-login" class="text-blue-500 underline">Already registered? Go to Login</a>
    </div>

  </div>
</div>
